version: '3.7'
services:
  db:
    image: postgres:${PG_VERSION}
    ports:
      - "5432:5432"
    volumes:
      - ./db/src:/docker-entrypoint-initdb.d

  postgrest:
    ports:
      - "3003:3000"

  openresty:
    ports:
      - "8080:80"
    volumes:
      - ./openresty/nginx:/usr/local/openresty/nginx/conf
      - ./frontend/build:/usr/local/openresty/nginx/html
      - ./openresty/lua:/usr/local/openresty/lua
